<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Not supported blog url</title>
</head>
<body>
    <p>
        Unfortunately <%= url %> is not supported
    </p>
    <p>Please use one the the following:</p>
    <ul>
        <li><b>GET</b> <i>/blogs</i> to see all blogs</li>
        <li><b>GET</b> <i>/blog/:id</i> to get a particular blog</li>
        <li><b>POST</b> <i>/blog</i> to create a blog</li>
        <li><b>PUT</b> <i>/blog</i> to update a blog</li>
        <li><b>DELETE</b> <i>/blog/:id</i> to delete a blog</li>
    </ul>
</body>
</html>